<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<title>Inserisci un nuovo Gatto</title>
</head>

<body>
	
	<h1>Aggiungi un ospite al gattile</h1>
	
	<form th:action="@{/admin/gatto}" th:object="${gatto}" method="POST" enctype="multipart/form-data">
		
		<div>
			<label>Nome del gatto:</label>
			<input type="text" th:field="*{nome}" required />
		</div>
		
		<br>
		
		<div>
			<label>Età (in anni):</label>
			<input type="number" th:field="*{eta}" required />
		</div>
		
		<br>
		
		<div>
			<label>Colore del mantello:</label>
			<input type="text" th:field="*{colore}" required />	
		</div>
		
		<br>
		
		<div style="margin-top: 15px;">
			<label><strong>Carica una foto del gatto:</strong></label><br>
			<input type="file" name="fileFoto" accept="image/png, image/jpeg" style="margin-top: 5px;" />
		</div>
		
		<br><br>
		
		<button type="submit">Salva nel Database</button>
	</form>
	
	<br>
	<a href="/galleria">Torna alla galleria senza salvare</a>
	
</body>
	
</html>