<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title>Accesso Volontari</title>

</head>

<body>

	<h1>Area Riservata Volontari</h1>
	
	<div th:if="${param.errore}" style= "color: red; font-weight: bold;">
		
		Username o password errati! Riprova.
	
	</div>
	
	<form action="/login" method="POST">
		<p>Username: <input type="text" name="username" required/></p>
		<p>Password: <input type="password" name="password" required/></p>
		<button type="submit">Entra</button>	
	</form>
	
	<br>
	<a href="/galleria">Torna alla galleria pubblica</a>
	
</body>

</html>