<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<title>Richiedi Adozione</title>
	
	</head>
	
	<body>
	
		<h1>Richiedi l'adozione</h1>
		<form action="/richiestaAdozione" method="POST">
		
			<input type="hidden" name="gattoId" th:value="${gatto.id}"/>
			
			<div>
				<label>Il tuo Nome:</label>
				<input type="text" name="nomeUtente" required />
			</div>
			
			<br>
			
			<div>
			<label>La tua Email:</label>
			<input type="email" name="email" required/>
			</div>
			
			<button type="submit">Invia richiesta di adozione</button>
		</form>
		
		<br>
		<a href="/galleria">Torna alla galleria</a>
	
	</body>

</html>